@font-face {
    font-family: "Averta1 PE";
    src: url("../Fonts/avertape-regular.otf");
}
@font-face {
    font-family: "Averta2 PE";
    src: url("../Fonts/avertape-regularitalic.otf");
}
@font-face {
    font-family: "Averta3 PE";
    src: url("../Fonts/avertape-semibold.otf");
}
@font-face {
    font-family: "Averta4 PE";
    src: url("../Fonts/avertape-semibolditalic.otf");
}
@font-face {
    font-family: "Averta5 PE";
    src: url("../Fonts/avertape-bold.otf");
}
@font-face {
    font-family: "Averta6 PE";
    src: url("../Fonts/Averta\ Black\ Italic.otf");
}
@font-face {
    font-family: "Futura";
    src: url("../Fonts/Elle\ Futura-Bold.otf");
}
@font-face {
    font-family: "Androgyne";
    src: url("../Fonts/SVN-Androgyne\ copy.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto-Medium.ttf");
}

.font-title1 {
    font-family: "Averta1 PE", sans-serif;
    font-size: 38px;
    word-spacing: 1px;
    color: #FFFFFF;
    font-weight: 900;
}

.font-title2 {
    font-family: "Averta5 PE", sans-serif;
    font-size: 40px;
    word-spacing: 1px;
    color: #FFFFFF;
    font-weight: 900;
}


.font-layout {
    font-size: 20px;
    font-weight: 700;
    font-family: "Averta5 PE", sans-serif;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Averta PE", serif;
    height: 100%;
    width: 100%;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}
.max-w {
    max-width: 100%;
}

.w-100 {
    width: 100%;
}
.w-inherrit {
    width: inherit;
    height: inherit;
}

.mg-auto {
    margin: auto;
}

.ds-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linear-red {
    background-image: linear-gradient(to right, #ED4711, #910000);
}
.po-rel {
    position: relative;
}
.po-ap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* GIFT */
.font-number {
    font-size: 75px;
    margin-right: 8px;
    font-weight: 900;
    font-family: "Androgyne";
    color: #FFFFFF;
    word-spacing: 3px;
    text-shadow: 9px 1px 11px rgb(97, 92, 92);
    -webkit-text-fill-color: #004FFF;
    -webkit-text-stroke: 0.05px;
}
.font-number_ip {
    font-size: 105px;
    font-weight: 550;
    -webkit-text-stroke: 2px;
}
.font-item {
    font-size: 35px;
    font-weight: 600;
    color: #004FFF;
    font-family: "Averta4 PE";
    line-height: 0.5;
}
.font-item_vocher1 {
    line-height: 1.4;
}
.font-item_vocher2 {
    font-weight: 900;
    font-family: "Averta6 PE";
    line-height: 1.4;
}
.font-item_texip {
    color: #FFEEBA;
    font-size: 40px;
    font-weight: 550;
}
/* LIST */

/* RAITINGS */
.w-item1 {
    width: 15%;
    border-right: 3px solid #2B3990;
}
.w-item2 {
    width: 28%;
    border-right: 3px solid #2B3990;
}
.w-item3 {
    width: 42%;
    border-right: 3px solid #2B3990;    
}
.w-item4 {
    width: 15%;
}

.raitings-item2 span{
    font-family: "Averta5 PE";
    font-size: 42px;
    font-weight: 700;
    color: #2B3990;
}
.text-number_raitings h2 {
    font-size: 80px;
    font-weight: 900;
    color: #FFEEBA;
    font-family: "Averta4 PE";
    text-shadow: -3px 2px 2px rgb(72, 67, 67);
}
